<launch>
  <!-- Run the map server -->
  <include file="$(find ucar_controller)/launch/base_driver.launch"></include>
  <include file="$(find ydlidar)/launch/ydlidar.launch"></include>
  <include file="$(find robot_localization)/launch/ekf_template.launch"></include>

  <node name="map_server" pkg="map_server" type="map_server" args="$(find ucar_nav)/maps/map1.yaml" output="screen">
    <param name="frame_id" value="map" />
  </node>

  <include file="$(find ucar_nav)/launch/config/amcl/amcl_omni.launch"></include>


  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <rosparam file="$(find ucar_nav)/launch/config/teb/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find ucar_nav)/launch/config/teb/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find ucar_nav)/launch/config/teb/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find ucar_nav)/launch/config/teb/global_costmap_params.yaml" command="load" />

    <rosparam file="$(find ucar_nav)/launch/config/teb/move_base_params.yaml" command="load" />
    <rosparam file="$(find ucar_nav)/launch/config/teb/base_global_planner_params.yaml" command="load" />
    <rosparam file="$(find ucar_nav)/launch/config/teb/teb_local_planner_params.yaml" command="load" />
    <!-- <remap from="/cmd_vel" to="/vesc/cmd_vel" /> -->
  </node>

</launch>
