<!--Offline Command Word Recognition-->
<launch>

  <arg name="package_path" default = "$(find xf_mic_asr_offline)" />

  <node pkg="xf_mic_asr_offline" type="xf_asr_offline_node" name="xf_asr_offline_node" output="log">
    <param name="source_path" type="string" value="$(arg package_path)"/>
    <rosparam command="load" file="$(find xf_mic_asr_offline)/config/mic_offline_params.yaml" />
  </node>

  <!-- <node pkg="xf_mic_asr_offline" type="client_node" name="client_node" output="screen"> -->
  <!-- </node> -->

</launch>
